[Unit]
Description = Backend Service

[Service]
User=sri
Environment=DB_HOST="mysql.sriharsha.shop"
ExecStart=/bin/node /app/index.js
SyslogIdentifier=backend

[Install]
WantedBy=multi-user.target